@include mb-core(tabs) {
  --color: var(--mbi-dark);
  --font-weight: normal;

  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px !important;
  border-bottom: 1px solid var(--mbi-default) !important;

  > li {
    display: block;
    position: relative;
    white-space: nowrap;
    margin: 0px;

    > a {
      display: block;
      padding: 20px;
      color: var(--color) !important;
      font-weight: var(--font-weight) !important;
    }

    &.active, &:hover {
      --color: var(--mbi-primary);
    }

    &.active {
      // --font-weight: bold;

      &::after {
        display: block;
        position: absolute;
        left: 0px; right: 0px;
        bottom: -1px;
        height: 3px;
        background-color: var(--mbi-primary) !important;
        content: "";
      }
    }
  }
}
