@include mb-core(tabs) {
  --color: var(--mbi-dark);
  --font-weight: normal;

  display: block;
  white-space: nowrap;
  list-style: none;
  margin: 0px;
  padding: 0px !important;
  border-bottom: 1px solid var(--mbi-default) !important;

  &::before,
  &::after {
    display: block;
    content: "";
    clear: both;
  }

  > li {
    display: block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    margin: 0px;

    > a {
      display: block;
      padding: 20px;
      color: var(--color) !important;
      font-weight: var(--font-weight) !important;
    }

    &.active, &:hover {
      --color: var(--mbi-primary);
    }

    &.active {
      // --font-weight: bold;

      &::after {
        display: block;
        position: absolute;
        left: 0px; right: 0px;
        bottom: 0px;
        height: 3px;
        background-color: var(--mbi-primary) !important;
        content: "";
      }
    }
  }
}
