@mixin mb-row() {
  &-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px -10px;

    > * {
      display: block;
      padding: 0px 10px;
      flex: 1 0 100%;
      width: 100%;
    }

    > .col {
      flex: 1 0 0;
      width: auto;

      &-auto {
        flex: 0 0 auto;
        width: auto;
      }

      $minRange: nth($colRange, 1);
      $maxRange: nth($colRange, 2);

      @for $n from $minRange through $maxRange {
        $colWidth: calc($n / $maxRange * 100%);

        &-#{$n} {
          flex: 0 0 auto;
          width: #{$colWidth};
        }
      }

      @each $name, $width in $device {
        @media (min-width: $width) {
          &-#{$name}-auto {
            flex: 0 0 auto;
            width: auto;
          }

          @for $n from $minRange through $maxRange {
            $colWidth: calc($n / $maxRange * 100%);

            &-#{$name}-#{$n} {
              flex: 0 0 auto;
              width: #{$colWidth};
            }
          }
        }
      }
    }
  }
}
