@use './scss/system' as mbi;

@use './scss/root';

html, body {
  margin: 0px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@include mbi.core {
  @include mbi.row();

  @include mbi.style-with-devices {
    @include mbi.colors();
    @include mbi.alignment();
    @include mbi.float();
    @include mbi.padding();
    @include mbi.margin();
  }

  &-clearfix {
    &::after {
      content: "";
      clear: both;
      display: block;
    }
  }

  &-responsive {
    --width: 100%;

    display: block;
    overflow-x: auto;
    width: var(--width) !important;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
