html,body {
  margin: 0px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: var(--mbi-primary) !important;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@include mb-core {
  @include mb-row();

  @include mb-style-with-devices {
    @include mb-colors();
    @include mb-alignment();
    @include mb-float();
    @include mb-padding();
    @include mb-margin();
  }

  &-clearfix {
    &::after {
      content: "";
      clear: both;
      display: block;
    }
  }

  &-responsive {
    display: block;
    overflow-y: hidden;
    overflow-x: auto;
  }
}
