html,body {
  margin: 0px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: var(--mbi-link-color) !important;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@include mb-core {
  @include mb-row();

  @include mb-style-with-devices {
    @include mb-colors();
    @include mb-alignment();
    @include mb-float();
    @include mb-padding();
    @include mb-margin();
  }

  &-clearfix {
    &::after {
      content: "";
      clear: both;
      display: block;
    }
  }

  &-responsive {
    --width: 100%;

    display: block;
    overflow-x: auto;
    width: var(--width) !important;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
