$core: 'mbi';

$color: (
  default: #CCC,
  primary: #02AFEE,
  secondary: #6C757D,
  error: #F00,
  danger: #DC3545,
  success: #090,
  warning: #FFC107,
  info: #0DCAF0,
  light: #F8F9FA,
  dark: #212529,
);

$device: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$range: (0, 100);

$colRange: (1, 20);

:root {
  @each $name, $value in $color {
    --#{$core}-#{$name}: #{$value};
  }
}
